{% extends "base.html" %}

{% block content %}
<h2>All Authors</h2>
<div class="pagination">
    {% if authors.has_prev %}
        <a href="{{ url_for('authors', page=authors.prev_num, per_page=request.args.get('per_page', 25)) }}" class="button">Previous</a>
    {% endif %}
    <span>Page {{ authors.page }} of {{ authors.pages }}</span>
    {% if authors.has_next %}
        <a href="{{ url_for('authors', page=authors.next_num, per_page=request.args.get('per_page', 25)) if authors.has_next else '#' }}" class="button">Next</a>
    {% endif %}
</div>
<ul>
    {% for author in authors %}
        <li>
            <a href="{{ url_for('author_books', author_name=author[0]) }}">{{ author[0] }}</a>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    {% if authors.has_prev %}
        <a href="{{ url_for('authors', page=authors.prev_num, per_page=request.args.get('per_page', 25)) }}" class="button">Previous</a>
    {% endif %}
    <span>Page {{ authors.page }} of {{ authors.pages }}</span>
    {% if authors.has_next %}
        <a href="{{ url_for('authors', page=authors.next_num, per_page=request.args.get('per_page', 25)) if authors.has_next else '#' }}" class="button">Next</a>
    {% endif %}
</div>
{% endblock %}