<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebook Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Ebook Collection</h1>
        <nav>
            <div class="search-bar">
                <form action="{{ url_for('search') }}" method="get">
                    <input type="text" name="q" placeholder="Search by title or author" required>
                    <button type="submit">Search</button>
                </form> 
                <a href="{{ url_for('index') }}" class="button-main-menu">Return to Main Menu</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="base">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
