{% extends "base.html" %}

{% block content %}
<h2>All Genres</h2>
<div class="pagination">
    {% if genres.has_prev %}
        <a href="{{ url_for('genres', page=genres.prev_num, per_page=request.args.get('per_page', 10)) if genres.has_prev else '#' }}" class="button">Previous</a>
    {% endif %}
    <span>Page {{ genres.page }} of {{ genres.pages }}</span>
    {% if genres.has_next %}
        <a href="{{ url_for('genres', page=genres.next_num, per_page=request.args.get('per_page', 10)) if genres.has_next else '#' }}" class="button">Next</a>
    {% endif %}
</div>
<ul>
    {% for genre in genres %}
        <li>
            <a href="{{ url_for('search_genre', genre_name=genre[0]) }}">{{ genre[0] }}</a>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    {% if genres.has_prev %}
        <a href="{{ url_for('genres', page=genres.prev_num, per_page=request.args.get('per_page', 10)) if genres.has_prev else '#' }}" class="button">Previous</a>
    {% endif %}
    <span>Page {{ genres.page }} of {{ genres.pages }}</span>
    {% if genres.has_next %}
        <a href="{{ url_for('genres', page=genres.next_num, per_page=request.args.get('per_page', 10)) if genres.has_next else '#' }}" class="button">Next</a>
    {% endif %}
</div>
{% endblock %}