{% extends "base.html" %}

{% block content %}
<h2>Search Results for "{{ query }}"</h2>
{% if results %}
    <div class="pagination">
        <a href="{{ url_for('search', q=query, page=results.prev_num) if results.has_prev else '#' }}" class="button">Previous</a>
        <span>Page {{ results.page }} of {{ results.pages }}</span>
        <a href="{{ url_for('search', q=query, page=results.next_num) if results.has_next else '#' }}" class="button">Next</a>
    </div>
    <ul>
        {% for ebook in results %}
            <li>
                {% if ebook.cover_path %}
                    <img src="{{ url_for('static', filename=ebook.cover_path.split('static/')[-1]) }}" alt="Cover" width="50">
                {% endif %}
                <a href="{{ url_for('book_detail', ebook_id=ebook.id) }}" class="ebook-link">{{ ebook.title }} by {{ ebook.author }} </a>
                <div class="actions">
                    <a href="{{ url_for('download_ebook', ebook_id=ebook.id) }}" class="button">Download EPUB</a>
                    <a href="{{ url_for('download_mobi', ebook_id=ebook.id) }}" class="button">Download MOBI</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <a href="{{ url_for('search', q=query, page=results.prev_num) if results.has_prev else '#' }}" class="button">Previous</a>
        <span>Page {{ results.page }} of {{ results.pages }}</span>
        <a href="{{ url_for('search', q=query, page=results.next_num) if results.has_next else '#' }}" class="button">Next</a>
    </div>
{% else %}
    <p>No results found.</p>
{% endif %}
{% endblock %}
