body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.search-bar button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.search-bar button:hover {
    background: #0056b3;
}

.button-main-menu {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: #218838;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    text-decoration: none;
}

.button-main-menu:hover {
    background: #757701;
    color: #fff;
}

main {
    padding: 2rem;
}

.base {
    margin-left: 2rem;
}


/* Search Results */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    align-items: center;
    transition: background 0.3s;
}

li:hover {
    background: #f9f9f9;
}

img {
    margin-right: 1rem;
    border-radius: 4px;
}

h2 {
    color: #333;
}

/* Ebook Detail Page */
.ebook-cover {
    max-width: 200px;
    margin-bottom: 1rem;
}

.ebook-info {
    margin-bottom: 2rem;
}

.ebook-info h2 {
    margin-top: 0;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #0056b3;
}
a.ebook-link, a.button{
    text-decoration: none; 
}

a:hover, a:focus {
    color: #1d69e4; 
}

/* Specific styling for ebook links */
.ebook-link {
    font-size: 16px; 
    font-weight: 600; 
    margin-bottom: 5px; 
    display: block; 
    text-decoration: none;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.pagination a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
}

.pagination a:hover {
    text-decoration: underline;
}
